<mat-expansion-panel class="danger-zone-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>warning</mat-icon>
      Danger Zone
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="danger-zone-content">
    @for (action of actions; track action.id) {
      <div class="danger-action">
        <div class="action-info">
          <div class="action-label">
            <mat-icon>{{ action.icon }}</mat-icon>
            {{ action.label }}
          </div>
          <p class="action-description">{{ action.description }}</p>
        </div>
        <button
          mat-stroked-button
          color="warn"
          [disabled]="loading"
          (click)="onActionClick(action)"
        >
          @if (isActionLoading(action.id)) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            {{ action.label }}
          }
        </button>
      </div>
    }
  </div>
</mat-expansion-panel>
